 

#dad  {  position:absolute; left:1000px; top:1000px;  }
#mom  {  position:absolute; left:1000px; top:1000px;  }
#jordan  {  position:absolute; left:1000px; top:1000px;  }
#house  {  position:absolute; left:1000px; top:1000px;  }
#candyhouse  {  position:absolute; left:1000px; top:1000px;  }




