 

#Dad  {  position:absolute; left:1000px; top:1000px;  }
#Mom  {  position:absolute; left:1000px; top:1000px;  }
#Jordan  {  position:absolute; left:1000px; top:1000px;  }
#House  {  position:absolute; left:1000px; top:1000px;  }
#CandyHouse  {  position:absolute; left:1000px; top:1000px;  }




